@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: #1d1e26;
  }
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Playfair Display", serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  --animate-spotlight: spotlight 2s ease .75s 1 normal forwards;

  @keyframes spotlight {
    0% {
      opacity: 0;
      transform: translate(-3%, -18%) scale(1);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0) scale(1);
    }
  }
}
